* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	/*background-color: rgb(40,187,156);*/

}

/* Header
   ================================================================ */

ul {
	display: inline-block;
	list-style: none;
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: black;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 24px;
}

#links {
	display: flex;
}

.links-container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 15px;
}


li {
	display: inline;
	font-size: 25px;
	color: white;
}
a {
	color: white;
	text-decoration: none;
	padding: 0 20px;
}

/* Main
   ================================================================ */


#intro {
	text-align: center;
	margin-bottom: 50px;
	padding: 100px 0;
}

img {
	width: 150px;
	height: auto;
  border-radius: 120px;
  margin: 50px 0;
}

h2 {
	font-size: 18px;
	padding-top: 20px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 30px 200px;

}

.column {
	display: flex;
	flex-direction: column;
}

#main-container {
	display: flex;
	flex-direction: column;
	width: 50%;

}

#aside-container {
	display: flex;
	flex-direction: column;
	width: 29%;
}

.heading {
	display: flex;
	justify-content: center;
}
h3 {
	display: flex;
	justify-content: center;
	/*text-align: center;*/
	border-bottom: solid black;
	padding-bottom: 30px;
	width: 170px;

}

#form {
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	
}



input {
	text-align: center;
	height: 50px;
	width: 300px;
	border-radius: 20px;
	border: 1px solid black;
	margin: 2px 5px;
}

#message-box {
	line-height: 100px;
	text-align: center;
	height: 108px;
	width: 300px;
	border-radius: 25px;
	resize: none;
	border: 1px solid black;
	margin: 0 5px;
}

#submit-button {
	text-align: center;
}
/* Footer
   ================================================================ */

footer {
	display: flex;
	width: 100%;
	height: 200px;
	color: white;
	background-color: black;
	bottom: 0px;
	overflow: auto;
}

.copyrigth {
	border-top: 2px solid white;
}


/* Media Queries For tablet Screen
   ================================================================ */

@media only screen and (max-width: 780px) {
	* {
		font-size: 24px;
	}

	nav {
		height: 60px;
		bottom: 0;
	}

	a {
		font-size: 20px;
		padding: 0 3px;
	}

	#intro {
		padding: 30px 0;
	}

	#main-container {
		width: 100%;
		padding: 20px 10px;
		margin: 10px 10px;
	}

	#aside-container {
		width: 100%;
		padding: 20px 10px;
		margin: 10px 10px;
	}

	.row {
		padding: 30px 0;
		flex-direction: column;
	}
	
	#form {
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	

	footer {
		height: 100%;
	}

}

/* Media Queries For Phones screen
   ================================================================ */ 

@media only screen and (max-width: 450px) {
	nav {
		height: 45px;
		bottom: 0;
	}
	a {
		font-size: 18px;
		padding: 0;
	}
	
	img {
		margin: 0px;
	}
	
	.row {
		flex-direction: column;
	}
	
	#main-container {
		width: 100%;
	}

	#aside-container {
		width: 100%;
	}

	#form {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	}

	footer {
		height: 100%;
		margin-bottom: 45px;
	}

}


















